<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daniel.ltc20.dao.InscriptionMintInfoDao">
    <resultMap id="InscriptionMintInfoResultMap" type="com.daniel.ltc20.domain.InscriptionMintInfo">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="inscription_name" property="inscriptionName"/>
        <result column="total" property="total"/>
        <result column="transferable" property="transferable"/>
        <result column="available" property="available"/>
        <result column="mint_time" property="mintTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, address, inscription_name, total, transferable, available, mint_time, create_time
    </sql>

    <select id="getAllInscriptionMintInfo" resultMap="InscriptionMintInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM inscription_mint_info
    </select>

    <select id="getInscriptionMintInfoById" resultMap="InscriptionMintInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM inscription_mint_info
        WHERE id = #{id}
    </select>

    <select id="getInscriptionMintInfoByAddressAndInscriptionName" resultMap="InscriptionMintInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM inscription_mint_info
        WHERE address = #{address} and inscription_name = #{inscriptionName}
    </select>

    <select id="getInscriptionMintInfoByAddress" resultMap="InscriptionMintInfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM inscription_mint_info
        WHERE address = #{address}
    </select>

    <insert id="insertInscriptionMintInfo" parameterType="com.daniel.ltc20.domain.InscriptionMintInfo">
        INSERT INTO inscription_mint_info
        (address, inscription_name, total, transferable, available, mint_time, create_time)
        VALUES
            (#{address}, #{inscriptionName}, #{total}, #{transferable}, #{available}, #{mintTime}, #{createTime})
    </insert>

    <update id="updateInscriptionMintInfo" parameterType="com.daniel.ltc20.domain.InscriptionMintInfo">
        UPDATE inscription_mint_info
        SET address = #{address},
            inscription_name = #{inscriptionName},
            total = #{total},
            transferable = #{transferable},
            available = #{available},
            mint_time = #{mintTime},
            create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteInscriptionMintInfo" parameterType="int">
        DELETE FROM inscription_mint_info
        WHERE id = #{id}
    </delete>

</mapper>
