<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daniel.ltc20.dao.TweetRelationPostViewDao">
    <resultMap id="BaseResultMap" type="com.daniel.ltc20.domain.TweetRelationPostView">
        <id column="id" property="id"/>
        <result column="keyword" property="keyword"/>
        <result column="tweet_id" property="tweetId"/>
        <result column="collect_date" property="collectDate"/>
        <result column="view_number" property="viewNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,keyword, tweet_id, collect_date,view_number, create_time,modify_time
    </sql>

    <select id="queryTweetRelationPostViewByTweetId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tweet_r_post_view
        WHERE tweet_id = #{tweetId}
    </select>

    <select id="selectByKeywordAndCollectDate" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tweet_r_post_view
        WHERE keyword = #{keyword} and collect_date = #{collectDate}
    </select>

    <insert id="insertTweetRelationPostView" parameterType="com.daniel.ltc20.domain.TweetRelationPostView">
        INSERT INTO tweet_r_post_view (keyword,tweet_id, collect_date, view_number, create_time,modify_time)
        VALUES (#{keyword},#{tweetId}, #{collectDate}, #{viewNumber}, #{createTime}, #{modifyTime})
    </insert>

    <insert id="insertTweetRelationPostViews" parameterType="java.util.List">
        INSERT INTO tweet_r_post_view (keyword,tweet_id, collect_date, view_number, create_time,modify_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.keyword},#{item.tweetId}, #{item.collectDate}, #{item.viewNumber}, #{item.createTime}, #{item.modifyTime})
        </foreach>
    </insert>

    <update id="update" parameterType="com.daniel.ltc20.domain.TweetRelationPostView">
        UPDATE tweet_r_post_view
        <set>
            <if test="keyword != null">tweet_id = #{keyword},</if>
            <if test="tweetId != null">tweet_id = #{tweetId},</if>
            <if test="collectDate != null">collect_date = #{collectDate},</if>
            <if test="viewNumber != null">view_number = #{viewNumber},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
