<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daniel.ltc20.dao.TweetBaseContentDao">
    <resultMap id="BaseResultMap" type="com.daniel.ltc20.domain.TweetBaseContent">
        <id column="id" property="id"/>
        <result column="tweet_id" property="tweetId"/>
        <result column="search_key" property="searchKey"/>
        <result column="label" property="label"/>
        <result column="user_id" property="userId"/>
        <result column="tweet_content" property="tweetContent"/>
        <result column="latest_view_number" property="latestViewNumber"/>
        <result column="tweet_url" property="tweetUrl"/>
        <result column="screenshot_url" property="screenshotUrl"/>
        <result column="tweet_content_create_time" property="tweetContentCreateTime"/>
        <result column="tweet_content_collect_time" property="tweetContentCollectTime"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , tweet_id, search_key, label, user_id, tweet_content, latest_view_number, tweet_url, screenshot_url, tweet_content_create_time, tweet_content_collect_time, create_time, modify_time
    </sql>


    <select id="getTweetBaseContentList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tweet_base_content
    </select>

    <select id="queryTweetBaseContentByTweetId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tweet_base_content
        WHERE tweet_id = #{tweetId}
    </select>

    <insert id="insertTweetBaseContent" parameterType="com.daniel.ltc20.domain.TweetBaseContent">
        INSERT INTO tweet_base_content (tweet_id, search_key, label, user_id, tweet_content, latest_view_number,
                                        tweet_url, screenshot_url, tweet_content_create_time,
                                        tweet_content_collect_time,
                                        create_time, modify_time)
        VALUES (#{tweetId}, #{searchKey}, #{label},
                #{userId}, #{tweetContent}, #{latestViewNumber},
                #{tweetUrl}, #{screenshotUrl}, #{tweetContentCreateTime},
                #{tweetContentCollectTime}, #{createTime}, #{modifyTime})
    </insert>

</mapper>
